
@{
    ViewBag.Title = "Index";
}

<div>
    @Html.ActionLink("Create group", "CreatePersonGroup", null, new { @class = "btn btn-primary" })
</div>

<br />

<div>
    @Html.ActionLink("Add Jhon Doe", "AddJhonDoe", null, new { @class = "btn btn-primary" })
</div>

<br />

<div>
    @Html.ActionLink("Train group", "TrainGroup", null, new { @class = "btn btn-primary" })
</div>

<br />


<div>
    @Html.ActionLink("Delete group", "DeletePersonGroup", null, new { @class = "btn btn-primary" })
</div>

<br />

<div>
    @Html.ActionLink("Test analyse d'une image", "AnalaysePicture", null, new { @class = "btn btn-primary" })
</div>

<br />

<div>
    @Html.ActionLink("Test analyse des visages", "AnalayseFaces", null, new { @class = "btn btn-primary" })
</div>
<br />